@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.body {
  overflow: hidden;
}

.title-bar {
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-bar h1 {
  margin: 0;
  font-size: 1.5rem;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
  min-height: calc(100vh - 60px);
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow: hidden;
}

.chat-messages {
  flex: 1;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 1rem;
}

.chat-message {
  display: flex;
  margin-bottom: 20px; /* Adjust space between messages */
}

.chat-message.user {
  justify-content: flex-end;
}

.chat-message.bot {
  justify-content: flex-start;
}

.message-box {
  max-width: 80%;
  word-wrap: break-word;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  word-wrap: break-word;
  margin-bottom: 1rem;
  overflow: auto;
  background-color: #f4f4f4;

}

.code-container {
  /* font-family: 'Fira Code', monospace; */
  border: 1px solid #151212;
  border-radius: 5px;
  background-color: #2d2d2d;
  margin-top: 10px;
}

.code-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #272822;
  color: #fff;
  padding: 5px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.code-header span {
  font-weight: bold;
}

.copy-button {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}

.copy-button:hover {
  color: #007bff;
}
.message-box code {
  background-color: #2d2d2d;
  color: #f8f8f2;
  padding: 0.2em 0.4em;
  border-radius: 3px;
}
.message-box pre {
  /* background-color: #141313; */
  color: #f8f8f2;
  padding: 1em;
  border-radius: 5px;
  overflow: auto;
}
.copy-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #1512127a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message-box p {
  margin-bottom: 0.4rem; /* Space between paragraphs */
}

.message-box ul, .message-box ol {
  margin-bottom: 1rem; /* Space between lists */
  padding-left: 1.5rem; /* Indent for list items */
}

.message-box h1, .message-box h2, .message-box h3, .message-box h4, .message-box h5, .message-box h6 {
  margin-top: 1rem; /* Space before headers */
  margin-bottom: 0.5rem; /* Space after headers */

}
.message-box.user {
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  color: white;
  max-width: 50%;
  border-radius: 15px 15px 0px 15px;
  padding: 1rem;
  padding: 0.8rem;
  margin: 0.3rem;
}

.message-box.bot {
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  color: white;
  max-width: 80%;
  padding: 0.8rem;
  border-radius: 15px 15px 15px 0px;
}

.chat-input {
  display: flex;
  align-items: center;
  background-color: #1f1f1f;
  border-radius: 0.5rem;
}

.chat-input input {
  flex-grow: 1;
  padding: 0.5rem;
  background-color: #3d3d3d;
  border: none;
  border-radius: 0.5rem;
  color: white;
}

.chat-input button {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: rgb(9 106 217 / 80%) !important;
  border: none;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: rgb(9 106 217 / 60%) !important;
}

.messages-area {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 20px; /* Add padding to prevent overlap with scrollbar */
  height: 100%;
  display: flex;
  flex-direction: column;
}
